.menu {
    .close-wrapper {
        display: none;
    }
}

.menu-wrapper {
    padding: 0;
    padding-left: 28px;
    margin-left: -16px;
    position: relative;

    .category {
        display: inline-block;
        padding: 16px;


        & > li {
            list-style: none;
            position: relative;
        }

        & > li::before {
            content: "";
            border: solid 1px #4e4e4e;
            position: absolute;
            bottom: -4px;
            width: 100%;
            display: none;
        }
    }

    .brands {
        padding: 0;
        top: 50px;
        margin-left: -16px;
        position: absolute;
        z-index: 1;
        background: #f9f9f9;
        padding: 40px 30px;
        display: none;

        .brands-list {
            float: left; 

            ul + ul {
                padding-top: 40px;

                .title {
                    padding-top: 30px;
                }
            }

        }

        ul {
            min-width: 237px;
            padding: 0;

            li {
                float: left;
                clear: both;
                position: relative;
            }


            li::before {
                content: "";
                position: absolute;
                width: 100%;
                border: solid #4e4e4e 1px;
                bottom: 0;
                display: none;
            }

            li:hover {
                &::before {
                    display: block;
                }
            }

            .title {
                font-weight: 400;
            }

            li {
                list-style: none;
                font-weight: 300;
                line-height: 36px;
            }
        }
    }
}

@media all and (min-width: 801px) {
    .category:hover {
        background: #f9f9f9;

        .brands {
            display: block;
        }

        & > li::before {
            display: block;
        }

        transition-duration: .2s;
    }
}


@media all and (max-width: 800px) {

    .menu {
        background: lightgrey;
        position: absolute;
        height: 100%;
        top: 0px;
        width: 100%;
        z-index: 2;
        overflow: hidden;
        transition-duration: .2s;

        .close-wrapper {
            display: block;
        }

        &--hidden {
            height: 0;
            transition-duration: .2s;
        }

    .close-wrapper {
        width: 29%;
        position: absolute;
        height: 40px;
        z-index: 6;
        width: calc(30% - 40px);
        right: 0;
        top: 14px;

        i {
            position: absolute;
            top: 50%;
            left: 50%;
            font-size: 34px;
            color: white;
            transform: translate(-50%, -50%);
        }
    }
}

.menu-wrapper {
    background: white;
    padding-left: 0;
    width: 70%;
    margin: 0;
    height: calc(100% - 70px);
    padding: 70px 20px 0px 20px;
    overflow-y: scroll;

    .category {
        display: block;
        border-top: .1px solid #e7e7e7;
        padding-left: 0;
        //pointer-events: none !important;

        &:last-child {
            margin-bottom: 34px;
        }

        & > li::after {
            font-family: 'IcoFont';
            content: '\ea99';
            float: right;
            margin-right: -4px;
        }

        &--hide-arrow > li::after {
            content: "";
        }

        .brands {
            display: none;
            background: none;
            position: static;
            padding: 20px 0 0 50px;

            ul {
                min-width: 0;

               & + ul {
                    padding: 8px 0 0 0;
                }
            }

            ul li {
                float: none;
                line-height: 20px;
                padding: 8px 20px 8px 8px;
                font-size: 14px;

                &::after {
                    font-size: 16px;
                }
            }

            .brands-list {
                float: none;

                ul li:not(.title) {
                    display: none;
                }

                ul.shown {
                    li {
                        display: block;
                    }

                    .title::after {
                        content: "—";
                        margin-right: -2px;
                    }
                }

                ul + ul {
                    padding: 8px 0 0 0;;
                }
            }
        }


        &--shown {
            .brands {
                display: block;
            }

            & > li::after {
                content: '\eaa1';
            }
        }

        &:hover {
            & > li::before {
                display: none;
            }
        }
    }


    .brands .brands-list {

        ul li.title {
            padding: 0;

            &--hidden::after {
                display: none;
            }
        }

        ul li {
            &::before {
                display: block;
                border: none;
            }
        }

        ul li.title::before {
            font-family: 'IcoFont';
            content: '\eaa0';
            margin-left: -24px;
        }

        ul li.title::after {
            content: '+';
            float: right;
        }

        ul li.title {
            &--hidden::after {
                content: '';
            }
        }
    }

        .category:last-child {
            border-bottom: .1px solid #e7e7e7;
        }

        .category:hover {
            background: none;
        }
    }
}

